<template>
    <el-dialog   :visible="showDialog"  @open="create" @opened="opened" width="60%" :close-on-click-modal="false" :close-on-press-escape="true" :show-close="false">
        <Keypress key-event="keyup" :key-code="13" @success="someMethod" />
        <Keypress key-event="keyup" :key-code="27" @success="someMethod2" />
        <span slot="title">
            <div class="widget-summary widget-summary-xs pl-3 p-2">
                <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon bg-success">
                        <i class="fas fa-check"></i>
                    </div>
                </div>
                <div class="widget-summary-col">
                    <div class="summary row">
                        <div class="col-md-6">
                            <h4 class="title">Venta exitosa : comprobante {{form.number}}</h4>
                        </div> 
                        <div class="col-md-6">
                            <h4 class="title">Estado de comprobante: {{ (statusDocument.sent) ? 'Enviado a Sunat':'No enviado a Sunat'}}</h4>
                            <h4 class="title">Envio automático: {{ (configuration.send_auto) ? 'Activado':'Desactivado'}}</h4>

                        </div>
                    </div> 
                </div>
            </div>
        </span>
        <div id="print-area">







            
<!-- <ul id="example-1">
            <li v-for="item in form.items"> 
                  {{ item.item.aux_quantity }}  - {{ item.item.unit_type_id }} -  {{ item.item.description }} -  {{ item.unit_price }} --  {{ item.total }} 
            </li>
            <li v-for="item in form.payments"> 
                  {{ item.payment }}  - {{ item.change }}
            </li>


</ul> -->
    <div style="margin-left:120px;margin-top:20px">
       <img src="storage/uploads/logos/logo_11111111111.png" alt="Logo" width="200px"/>
    </div>
<table width="460px"  style="margin-left:20px">   

    <tr>
        <td ><h2 style="margin-left:80px;margin-top:0px;margin-bottom:0px"><b>NOTA DE VENTA : N000{{form.number}}</b></h2></td>
    </tr>
  
</table>
<table width="460px" style="margin-left:20px">
    <tr>
        <td  ><b>F. Emisión:</b></td>
        <td  > {{form.date_of_issue}} </td>
    </tr>


    <tr>
        <td><b>Cliente:</b></td>
        <td>{{form.customer}}</td>
    </tr>
    <tr>
        <td><b>DNI:</b></td>
        <td>0000000</td>
    </tr>

        <tr  class="border-bottom">
            <td ><b>Dirección:</b></td>
            <td>
              -
            </td>
        </tr >


</table>
            <table width="460px"  style="margin-left:20px">
    <thead style="font-size:12px">
    <tr style="font-weight:bold">
        <th class="border-top-bottom  text-left" style="font-size:8px;width:40px"><b style="font-size:8px;width:40px">CANT.</b></th>
        <th class="border-top-bottom  text-left" style="font-size:8px;width:50px"><b style="font-size:8px;width:50px">UND.</b></th>
        <th class="border-top-bottom  text-left" style="font-size:8px;width:140px"><b style="font-size:8px;width:140px">DESCRIPCIÓN</b></th>
        <th class="border-top-bottom  text-left" style="font-size:8px;width:50px"><b style="font-size:8px;width:50px">P.UNIT</b></th>
        <th class="border-top-bottom  text-left" style="font-size:8px;width:80px"><b style="font-size:8px;width:80px">TOTAL</b></th>
    </tr>
    </thead>
    <tbody>
  
        <tr v-for="item in form.items">
            <td class="text-center desc-9 align-top"  style="font-size:10px;width:40px">
                {{ item.item.aux_quantity }}
            </td>
            <td class="text-center desc-9 align-top"  style="font-size:10px;width:40px">{{ item.item.unit_type_id }} </td>
            <td class="text-left desc-9 align-top" style="font-size:10px;width:140px">
                {{ item.item.description }}
            </td>
            <td class="text-right desc-9 align-top" style="font-size:8px;width:50px">{{Number( item.unit_price).toFixed(4)}}</td>
            <td class="text-left desc-9 align-top" style="font-size:8px;width:80px"> <b style="margin-left:10px">{{ item.total }}</b> </td>
        </tr>
        <tr>
            <td colspan="5" class="border-bottom"></td>
        </tr>
 
    
        <tr>
            <td colspan="4" class="text-left font-bold desc">TOTAL A PAGAR:</td>
            <td class="text-left font-bold desc" v-for="item in form.payments" >  S/. {{ item.payment }}</td>
        </tr>
        <tr>

             <td colspan="3"class="text-left font-bold desc" v-for="item in form.payments" > Efectivo:S/. {{ Number(item.payment) + Number(item.change)}}</td>
             <td colspan="3" class="text-left font-bold desc" v-for="item in form.payments" > Vuelto:S/. {{ item.change}}</td>
        </tr>
    </tbody>
    
</table>
            


       
           
        </div>
   
        <!-- <div class="form-body el-dialog__body_custom">
            <div class="row">
                <div class="col-md-12 m-bottom">  
                    <el-tabs v-model="activeName"  >
                        <el-tab-pane label="Imprimir Ticket" name="first">
                            <iframe id="app" :src="form.print_ticket" ref="app" type="application/pdf" width="100%" height="450px"/>                                    
                        </el-tab-pane> 
                        <el-tab-pane label="Imprimir A4" name="second">                                    
                            <embed :src="form.print_a4" type="application/pdf" width="100%" height="450px"/>
                        </el-tab-pane>  
                        <el-tab-pane label="Imprimir A5" name="third">                                    
                            <embed :src="form.print_a5" type="application/pdf" width="100%" height="450px"/>
                        </el-tab-pane>                       
                    </el-tabs>
                </div> 
                <div class="row col-md-12"> 
                    <div class="col-md-6">   
                        <el-input v-model="form.customer_email" ref="ref_customer_email" @keyup.native="keyupCustomerEmail">
                            <el-button slot="append" icon="el-icon-message"   @click="clickSendEmail" :loading="loading">Enviar</el-button>
                        </el-input>
                       

                    </div>
                    <div class="col-md-6">            
                                  
                         <button type="button" @click="print_pdf(form.print_ticket)"> Print PDF </button>
  
                        <el-input v-model="form.customer_telephone">
                            <template slot="prepend">+51</template>
                                <el-button slot="append" @click="clickSendWhatsapp" >Enviar
                                    <el-tooltip class="item" effect="dark"  content="Es necesario tener aperturado Whatsapp web" placement="top-start">
                                        <i class="fab fa-whatsapp" ></i>
                                    </el-tooltip>
                                </el-button>
                        </el-input>
                    </div>

                    <div class="col-md-6 mt-4">    
                    </div>
                    <div class="col-md-6 mt-4">  
                        <el-button  type="primary"  class="float-right" @click="clickNewSale">Nueva venta</el-button>                             
                    </div>
                </div>

            </div>
        </div> -->

         <button @click="print_pdf()">
      Print
    </button>
    </el-dialog>
</template> 

<script>
    import Keypress from 'vue-keypress'
    import print from 'print-js'

    export default {
        props: ['showDialog', 'recordId', 'statusDocument','resource'],
        components: {
           Keypress,print
        },
        
        data() {
            return {
                titleDialog: null,
                loading: false,
                errors: {},
                form: {},
                company: {},
                configuration: {},
                activeName: 'first',

            }
        },
        async created() {
            this.initForm() 
            this.print_pdf(); 
        },
        mounted(){
            
        },
        methods: {
            clickSendWhatsapp() {
                
                if(!this.form.customer_telephone){
                    return this.$message.error('El número es obligatorio')
                }

                window.open(`https://wa.me/51${this.form.customer_telephone}?text=${this.form.message_text}`, '_blank');
            
            },
            someMethod(response){

                this.print_pdf();
                 this.initForm()
                 this.$eventHub.$emit('cancelSale')
                // if(!this.showDialog)
                // {
                //     return
                // }
 
                // const external_id = this.form.external_id

                // let format = 'a4'

                // switch(this.activeName)
                // {
                //     case 'first':
                //        format = 'ticket'
                //         break;
                //     case 'second':
                //        format = 'a4'
                //         break;
                //     case 'third':
                //         format= 'a5'
                //         break;
                // }


                // if(this.resource == 'sale-notes')
                // {
                //     window.open(`/sale-notes/downloadExternal/${external_id}/${format}`, '_blank');
                // }
                // else if(this.resource == 'documents')
                // {
                //     window.open(`/downloads/Document/${type}/${external_id}/pdf`, '_blank');
                    
                // }

            },
             someMethod2(response){

               this.clickNewSale();

            },
            keyupCustomerEmail(e){
                 
                if(e.keyCode === 27){
                //    this.clickNewSale()
                }               
               
                 
            },
            print_pdf(){
            
            printJS({ printable: 'print-area', type: 'html', targetStyles: ['*']});
               
            },
          
            initFocus(){
                this.$refs.ref_customer_email.$el.getElementsByTagName('input')[0].focus()
            },
            async clickNewSale(){
                

                
                await this.initForm()
                await this.$eventHub.$emit('cancelSale')

            },
            initForm() {
                this.errors = {};
                this.configuration = {};
                this.form = {
                    customer_email: null,
                    download_pdf: null,
                    print_a4: null,
                    print_a5: null,
                    print_ticket: null,
                    external_id: null,
                    number: null, 
                    customer_telephone:null,
                    message_text:null,
                    id: null
                } 
                
            },
            create() {

                this.$http.get(`/${this.resource}/record/${this.recordId}`).then(response => {
                    this.form = response.data.data; 
                    this.titleDialog = 'Comprobante: '+this.form.number;
                  
                     
                });

                this.$http.get(`/pos/status_configuration`).then(response => {
                    this.configuration = response.data
                });
                
          this.initFocus()
                
                
 
            }, 
            opened(){
                this.initFocus()
                
            },
            clickSendEmail() {
                            
                if(this.form.customer_email == null || this.form.customer_email == '') return this.$message.error('Ingrese el correo')
                this.loading = true
                this.$http.post(`/${this.resource}/email`, {
                    customer_email: this.form.customer_email,
                    id: this.form.id
                })
                    .then(response => {
                        if (response.data.success) {
                            this.$message.success('El correo fue enviado satisfactoriamente')
                        } else {
                            this.$message.error('Error al enviar el correo')
                        }
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.errors
                        } else {
                            this.$message.error(error.response.data.message)
                        }
                    })
                    .then(() => {
                        this.loading = false
                    })
            },
            

            // clickConsultCdr(document_id) {
            //     this.$http.get(`/${this.resource}/consult_cdr/${document_id}`)
            //         .then(response => {
            //             if (response.data.success) {
            //                 this.$message.success(response.data.message)
            //                 this.$eventHub.$emit('reloadData')
            //             } else {
            //                 this.$message.error(response.data.message)
            //             }
            //         })
            //         .catch(error => {
            //             this.$message.error(error.response.data.message)
            //         })
            // },
            // clickFinalize() {
            //     location.href = (this.isContingency) ? `/contingencies` : `/${this.resource}`
            // },
            // clickNewDocument() {
            //     this.clickClose()
            // },
            // clickClose() {
            //     this.$emit('update:showDialog', false)
            //     this.initForm()
            // },
        },
       

      
    }
  
</script>
